<label>Filters:
  <select name="brand">
    <optgroup label="Brand">
      <option value="Brand 1">Brand 1</option>
      <option value="Brand 2">Brand 2</option>
      <option value=="Brand 3">Brand 3</option>
    </optgroup>
    <optgroup label="Status">
      <option value="New">New</option>
      <option value="Published">Published</option>
      <option value="Archived">Archived</option>
    </optgroup>
  </select>
</label>