<h1> All bikes</h1> 

<%= link_to  "Create new bike", new_bike_path %>
<div class="row">
    <% @bikes.each do |bike| %>
        <%= link_to bike_path(bike) do %>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <%= cl_image_tag bike.photo.key, height: 150, width: 200, crop: :fill %>
                        <h5 class="card-title"><%= bike.name %></h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>